# =====================================
# Identidad y dominio principal (pedido)
# =====================================
USERNAME=victor
MAIN_DOMAIN=servidorgp.somosdelprieto.com

# ==============================
# Image versions (used by apps/docker-compose.yml)
# ==============================
NGINX_PROXY_VERSION=latest
PORTAINER_VERSION=latest
PROMETHEUS_VERSION=latest
GRAFANA_VERSION=latest

# ==============================================
# Optional: ACME / DuckDNS (if acme-companion is enabled)
# ==============================================
ACME_EMAIL=replace_with_email_for_acme
DUCKDNS_TOKEN=replace_with_duckdns_token
