networks:
  frontend:
    name: frontend
  backend:
    name: backend

services:
  # --- AUTOMATED REVERSE PROXY ---
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    labels:
      - com.github.nginx-proxy.nginx=true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs:ro
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    networks:
      - frontend
      - backend
    restart: always

  # --- SSL AUTOMATION ---
  acme-companion:
    image: nginxproxy/acme-companion:latest
    container_name: nginx-proxy-acme
    environment:
      - DEFAULT_EMAIL=victor.manuel.corral.ruiz@gmail.com
      - NGINX_PROXY_CONTAINER=nginx-proxy
      #contenido agregado para dominio duck dns
      - DuckDNS_Token=a98d966d-f786-4407-9e1b-5bcc08ea3f20
      - ACMESH_DNS_API_CONFIG={"DNS_API":"dns_duckdns"}
      - ACME_CHALLENGE=DNS-01
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
    depends_on:
      - nginx-proxy
    networks:
      - frontend
    restart: always

  # --- MANAGEMENT ---
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    environment:
      #Contenido local
      - VIRTUAL_HOST=portainer.victor.2daw
      - VIRTUAL_PORT=9000
    networks:
      - frontend
    restart: unless-stopped

  # --- MONITORING ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    environment:
      - VIRTUAL_HOST=prometheus.victor.2daw
      - VIRTUAL_PORT=9090
    networks:
      - backend
      - frontend
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - backend
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
    - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - VIRTUAL_HOST=grafana.victor.2daw
      - VIRTUAL_PORT=3000
    networks:
      - frontend
      - backend
    restart: unless-stopped

volumes:
  portainer_data:
  grafana_data:
  prometheus_data:
  certs:
  vhost:
  html:
  acme:
