services:
  web-pro:
    image: nginx:alpine
    container_name: web-victor-final
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
    environment:
      - VIRTUAL_HOST=apps.victor.2daw
      #- VIRTUAL_HOST=victorm2daw.duckdns.org
      - VIRTUAL_PORT=80
      # --- ESTO ES LO QUE TE FALTA PARA EL HTTPS REAL ---
      #- LETSENCRYPT_HOST=victorm2daw.duckdns.org
      #- LETSENCRYPT_EMAIL=victor.manuel.corral.ruiz@gmail.com
      #- LETSENCRYPT_DNS_MODE=dns_duckdns
    networks:
      - frontend

networks:
  frontend:
    external: true



